---
import { InventoryManagement } from "../components/admin/InventoryManagement";
import { UserManagement } from "../components/admin/UserManagement";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>ClubestLogin</title>
	</head>
	<main>
        <InventoryManagement client:idle/>
        <UserManagement client:idle/>
    </main>
</html>
