---
import { DashboardStats } from "../components/dashboard/DashboardStats";
import { QuickActions } from "../components/dashboard/QuickActions";
import { RecentActivity } from "../components/dashboard/RecentActivity";
import DashboardLayout from "../layouts/DashboardLayout.astro";
---

<DashboardLayout title="Dashboard">
  <div class="space-y-8">
    <DashboardStats client:load />
    <QuickActions client:load />
    <RecentActivity client:load />
  </div>
</DashboardLayout>
