---
import { DashboardStats } from "../components/dashboard/DashboardStats";
import { QuickActions } from "../components/dashboard/QuickActions";
import { RecentActivity } from "../components/dashboard/RecentActivity";
import { Navbar } from "../components/navigation/Navbar";
import { Sidebar } from "../components/navigation/Sidebar";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>ClubestDashboard</title>
  </head>
  <main>
    
    <div class="flex h-screen">
  <!-- Sidebar -->
  <div class="transition-all duration-300">
    <Sidebar client:load />
  </div>

  <!-- Contenido -->
  <div class="flex-1 flex flex-col overflow-hidden">
    <Navbar client:load />
    <main class="p-6 overflow-y-auto flex-1 mt-16">
      <DashboardStats />
      <QuickActions />
      <RecentActivity />
    </main>
  </div>
</div>
  </main>

</html>
