---
import { LoginForm } from "../components/forms/LoginForm";
import { ContactSection } from "../components/landing/ContactSection";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml"  />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>ClubestLogin</title>
	</head>
	<body class="bg-gray-50 flex flex-col min-h-screen">
		<main class="flex-grow flex justify-center items-center mt-20 mb-20 px-4">
			<LoginForm client:load />
		</main>
		<ContactSection />
	</body>
</html>
