---
import { ProfileInfo } from "../components/profile/ProfileInfo";
import DashboardLayout from "../layouts/DashboardLayout.astro";
---

<DashboardLayout title="Perfil">
  <div class="max-w-3xl mx-auto bg-white rounded-2xl shadow-sm border border-gray-100/50 p-6 md:p-8">
    <ProfileInfo client:load />
  </div>
</DashboardLayout>
