---
import { TrainingCalendar } from "../components/trainings/TrainingCalendar";
import DashboardLayout from "../layouts/DashboardLayout.astro";
---

<DashboardLayout title="Entrenamientos">
  <div class="bg-white rounded-2xl shadow-sm border border-gray-100/50 p-6 md:p-8">
    <TrainingCalendar client:load />
  </div>
</DashboardLayout>
